body {
    font-family: Arial;
    background-color: #f2f2f2;
}

form {
    background: white;
    width: 250px;
    margin: 100px auto;
    padding: 15px;
}

input, button {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}

#part2 {
    display: none;
}
